nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.logo {
  height: 170px;
  margin: auto;
  @include tablet {
    margin: 0;
    height: 100px;
    padding-left: 100px;
  }
  @include desktop {
    padding-left: 20px;
  }
}

h2 {
  font-weight: 0;
  font-family: $font-family-std;
  font-size: $font-size-std;
}

.dropdown {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: 20px;
  @include tablet {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

select {
  color: blue;
  background-color: gray;
}
