* {
  box-sizing: border-box;
}

body {
  font-size: $font-size-std;
  font-family: $font-family-std;
  color: #ffffff;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;

  @include tablet {
    flex-direction: row;
  }
  @include desktop {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.cashe {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

.article {
  height: 100vw;
  display: flex;

  @include tablet {
    height: 50vw;
  }
  @include desktop {
    height: 25vw;
  }
}

a {
  text-decoration: none;
  color: white;
  width: 100%;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 25%;
  }
}

p {
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  margin-top: auto;
  width: 100%;
  padding: 10px;
}

.loading {
  background: center no-repeat;
  position: fixed;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  z-index: 90;
}

footer {
  display: flex;
  color: #c2c2c2;
  justify-content: center;
  align-items: baseline;
  margin: 3%;

  p {
    justify-content: flex-start;
  }

  @include desktop {
    justify-content: flex-start;
    margin-left: 5%;
  }
}
